In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv("pima.csv")
X=df.drop(['diabetes'], axis=1)
y=df['diabetes']

In [3]:
df.head()

   diabetes  parity  glucose  diastolicbp  triceps  insulin   bmi  age
0         0       1       89           66       23       94  28.1   21
1         1       0      137           40       35      168  43.1   33
2         1       3       78           50       32       88  31.0   26
3         1       2      197           70       45      543  30.5   53
4         1       1      189           60       23      846  30.1   59

In [4]:
X.tail()

     parity  glucose  diastolicbp  triceps  insulin   bmi  age
387       0      181           88       44      510  43.3   26
388       1      128           88       39      110  36.5   37
389       2       88           58       26       16  28.4   22
390      10      101           76       48      180  32.9   63
391       5      121           72       23      112  26.2   30

In [5]:
y.head()

0    0
1    1
2    1
3    1
4    1
Name: diabetes, dtype: int64

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV

In [7]:
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, random_state=0)

In [8]:
### Mixture Gaussian Models

In [9]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(Xtrain, ytrain)
y_model = model.predict(Xtest)

In [10]:
from sklearn.metrics import accuracy_score
accuracy_score(ytest, y_model)

0.7959183673469388

In [11]:
### Random Forest

In [12]:
#from sklearn.cross_validation import train_test_split
from sklearn.ensemble import RandomForestClassifier

#Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, random_state=0)
model = RandomForestClassifier(n_estimators=1000)
model.fit(Xtrain, ytrain)
ypred = model.predict(Xtest)

In [13]:
from sklearn import metrics
print(metrics.classification_report(ypred, ytest))

              precision    recall  f1-score   support

           0       0.89      0.82      0.85        71
           1       0.61      0.74      0.67        27

    accuracy                           0.80        98
   macro avg       0.75      0.78      0.76        98
weighted avg       0.81      0.80      0.80        98

### Домашнее задание

Решите задачу классификации методом случайных лесов по данным, которые вы применяете в своей работе.